¡Gracias por elegirnos!

¡Hola {}!

Esperamos que hayáis disfrutado de vuestra estancia en nuestro hotel. 🌟 Si os ha gustado, ¿nos haríais un favor? 🙏

Nos encantaría recibir una puntuación de 9 o 10 en la encuesta de satisfacción de booking.com. ¡Esas estrellitas nos hacen más felices que un café recién hecho por la mañana, ☕ y nos dan ánimo para seguir mejorando.

¡Gracias por ser parte de nuestra familia hotelera! 🏨 … añádenos a la agenda y disfruta de descuentos especiales en vuestra próxima visita reservando por WhatsApp.

¡Hasta la próxima! 😊
